header {
  background-color: #c51f1f;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 15px;
}

header nav a:hover {
  text-decoration: underline;
}