@import "tailwindcss";
:root{
  --bg:#0b0b0f;
  --panel:#101018;
  --card:#12121c;
  --text:#f5f5f7;
  --muted:#a6a6b3;
  --line:rgba(255,255,255,.10);
  --red:#e10600;
  --red2:#ff2a1a;
  --white:#ffffff;
  --shadow: 0 10px 30px rgba(0,0,0,.35);
  --radius: 18px;
  --radius2: 26px;
}

/*@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}*/


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-950 text-white;
}


